.Contact-form input,
.Contact-form textarea {
  width: 100%;
  max-width: 100%;
}

ul.social.large {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-left: 0;
}

ul.social.large li {
  list-style: none;
}
